{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>{{ jadwal.judul }}</title>
<link rel="stylesheet" href="{% static 'jadwal/css/style.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="{% static 'jadwal/js/script.js' %}"></script>
{% endblock head %}

{% block content %}
<section class="d-flex">
        <div class="d-flex w-100 jadwal-container">
            <div class="timestamps">
            {% for time in TS %}
                <div class="timestamp">{{ time }}</div>
            {% endfor %}
            </div>
                <div class="dates">
                {% for date, blocks in dates.items %}
                    <div class="date">
                        <div class="format">
                        {{ date }}
                        </div>
                        <div class="blocks">
                        {% for count, kegiatan_form in blocks %}
                            <div class="block kegiatan {% if count != 0 %}bg-blue{% endif %}">
                                <div class="{% if count == 0 %}invisible{% endif %}">
                                    {{ kegiatan_form }}
                                    <span style="cursor: default;"><span id="counter">{{ count }}</span> orang bisa</span>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                </div>
        </div>
    <div class="right-sidebar">
        <div class="d-flex flex-column p-2">
            <div class="judul">{{ jadwal.judul }}</div>
            <div>
                <!--span>Pemilik:</span-->
                <div class="block nama justify-content-start">
                {{ owner.nama_panjang }}
                </div>
                <!--span>Anggota:</span-->
                {% if users %}
                {% for user in users %}
                <div class="block nama justify-content-start">
                {{ user.nama_panjang }}
                </div>
                {% endfor %}
                {% else %}
                <!--div class="text-center">(kosong)</div-->
                {% endif %}
            </div>
            <div class="d-flex flex-row-reverse flex-shrink-1">
                <button class="my-btn" onclick="copyInvitationalLink('{{ request.META.HTTP_HOST }}', '{% url 'jadwal:invite' jadwal.url %}')">Undang Anggota</button>
            </div>
            <div id="copy-success" class="text-center invisible">
                Undangan berhasil disalin
            </div>
        </div>
        <div class="options">
            <div><a href="{% url 'jadwal:jadwal' jadwal.url %}" class="my-btn">Simpan Jadwal</a></div>
        <div>
        </div>
    </div>
</section>
{% endblock content %}