{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>{{ jadwal.judul }}</title>
<link rel="stylesheet" href="{% static 'jadwal/css/style.css' %}">
<script src="{% static 'jadwal/js/script.js' %}"></script>
{% endblock head %}

{% block content %}
<section class="d-flex">
    <div class="d-flex w-100 jadwal-container">
        <div class="timestamps">
        {% for time in TS %}
            <div class="timestamp">{{ time }}</div>
        {% endfor %}
        </div>
        <div class="dates">
        {% for date, counts in dates.items %}
            <div class="date">
                <div class="format">
                {{ date }}
                </div>
                <div class="blocks">
                {% for count in counts %}
                    <div class="block {% if count != 0 %}bg-blue{% endif %}">
                        <div class="{% if count == 0 %}invisible{% endif %}">{{ count }} orang bisa</div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="right-sidebar">
        <div class="d-flex flex-column p-2">
            <div class="judul">{{ jadwal.judul }}</div>
            <div>
                <!--span>Pemilik:</span-->
                <div class="block nama justify-content-start">
                {{ owner.nama_panjang }}
                </div>
                <!--span>Anggota:</span-->
                {% if users %}
                {% for user in users %}
                    {% if not user is owner %}
                    <div class="block nama justify-content-start">
                    {{ user.nama_panjang }}
                    </div>
                    {% endif %}
                {% endfor %}
                {% else %}
                <!--div class="text-center">(kosong)</div-->
                {% endif %}
            </div>
            <div class="d-flex flex-row-reverse">
                <button class="my-btn" onclick="copyInvitationalLink('{{ request.META.HTTP_HOST }}', '{% url 'jadwal:invite' jadwal.url %}')">Undang Anggota</button>
            </div>
            <div id="copy-success" class="text-center invisible">
                Undangan berhasil disalin
            </div>
        </div>
        <div class="options">
            <div><a href="{% url 'komentar:index_komentar' jadwal.judul %}" class="my-btn">Beri Komentar</a></div>
            <div><a href="{% url 'jadwal:isi-jadwal' jadwal.url %}" class="my-btn">Isi Jadwal</a></div>
        <div>
        </div>
    </div>
</section>
{% endblock content %}