@import url("https://fonts.googleapis.com/css?family=Oswald: 300&display=swap") * {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #c9f6ff, #c9f6ff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  width: 600px;
  margin-top: 10px;
  background: linear-gradient(90deg, #0859c6, #0c71e0);
  box-shadow: 0 0 100px 50px #5bea;
  border: 2px solid #bea;
  border-radius: 10px;
  transition: 10s;
  overflow: hidden;
}

h2 {
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  user-select: none;
  text-transform: uppercase;
}

textarea {
  width: 400px;
  height: 200px;
  background: linear-gradient(180deg, #fff, #c9f6ff);
  box-shadow: 0 0 20px 4px #303030;
  resize: none;
  margin-top: 3%;
  padding-top: 10px;
  text-align: center;
  font-size: 18px;
}
textarea::placeholder {
  color: #222222;
}
.sub {
  margin-top: 15%;
  position: relative;
}
.sub input {
  font-size: 20px;
  width: 400px;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(90deg, #0859c6, #0c71e0);
  border: 3px solid #fff;
  color: #f2f2f2;
  font-family: "Trade Winds", cursive;
}
.sub input[type="submit"] :active {
  border-color: #0859c6;
}
.rating {
  position: absolute;
  margin-left: 10px;
  display: flex;
  flex-direction: row-reverse;
}
.rating input {
  display: none;
}
.rating label img {
  width: 50px;
}
.rating label {
  position: relative;
  width: 0px;
  height: 120px;
  cursor: pointer;
  transition: 0.5s;
  filter: grayscale(1);
  text-align: center;
  opacity: 0;
}
.rating:hover label {
  width: 100px;
  opacity: 0.2;
}
.rating input:hover + label h4,
.rating input:checked + label h4 {
  opacity: 1;
  width: 100px;
  filter: grayscale(0);
}
.rating label h4 {
  font-size: 10px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(-50px) scale(0);
  padding-top: 0px;
  transition: 0.5s;
}

.rating input:hover + label h4,
.rating input:checked + label h4 {
  transform: translateY(0px) scale(1);
  opacity: 1;
}

img {
  width: 100px;
}