.hint {
    font-weight: bold;
    font-size: large;
}

.my-btn {
    font-size: large;
    font-weight: bold;
    background-color: #226581;
    color: #FFFFFF;
    border: none;
    padding: 4px;
}

.my-btn:hover,
.my-btn:focus {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    background-color: #EBF2FA;
	color: #0F4C75;
}

/* BUAT JADWAL RAPAT */

.form-container {
    display: flex;
    background-color: white;
    border: 1px solid #13293D;
    border-radius: 26px;
    flex: 1 1 auto;
}

.form-jadwal {
    z-index: 1;
    width: 65%;
}

@media screen and (max-width: 450px) {
    .form-jadwal {
        z-index: 1;
        width: 100%;
    }
}

.form-jadwal * {
    flex : 1 0 0;
}

.form-input {
    display: block;
    border: 1px solid black;
    width: 100%;
    padding: 8px;
}

.form-tanggal {
    display: flex;
    flex-direction: row;
}

.form-tanggal p:not(:last-child) {
    margin-right: 1rem;
}

@media screen and (max-width: 700px) {
    .form-tanggal {
        display: flex;
        flex-direction: column;
    }
    
    .form-tanggal p:not(:last-child) {
        margin-right: 0;
    }
}

.latar-belakang {
    display: inline-block;
    height: auto;
    padding: 1rem 1rem 5rem 5rem;
}

.my-img {
    height: 10%;
    width: auto;
}

/* JADWAL RAPAT */
.jadwal-container {
    background-color: #DEEFF7;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    min-height: 100%;
    background-color: #BDDFEF;
    justify-content: space-between;
}

.judul {
    font-weight: bold;
    font-size: large;
    overflow-x: auto;
}

.fade-out {
    animation: fadeout 2s;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options div {
    display: block;
    width: 100%;
    padding: 6px 10px;
    text-align: center;
}

.options div a {
    display: block;
    width: 100%;
}

.timestamps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 6vh 0;
}

.timestamp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-weight: bold;
    flex: 1 0 auto;
}

.dates {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.date {
    flex: 1 0 auto;
}

.format {
    height: 6vh;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.blocks {
    display: flex;
    flex-direction: column;
}

.block {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    
    background-color: #FFFFFF;
    border: 1px solid #000000;
    /*border-bottom: 0;*/
}

.block.bg-blue{
    background-color: #3397C1;
}

/*
.block:last-child {
    border-bottom: 1px solid #000000;;
}
*/

.block.nama {
    padding: 1px 4px;
    margin: 5px 0;
    overflow-x: auto;
}

/* INVITE */
.invite-text {
    font-weight: bold;
    font-size: 6vmin;
}