{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title>Komentar</title>
<link rel="stylesheet" href="{% static 'komentar/css/style-komentar.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="{% static 'komentar/js/script.js' %}"></script>
{% endblock %}

{% block content %}
<div class="komentar">
    <div class="top d-md-flex justify-content-between align-items-center">
        <h2 id="komentar-title">Komentar di jadwal "{{ jadwal }}"</h2>
        <div class="top-right">
            Search pengirim: <input type="text" id="search-box">
        </div>
    </div>
    <div class="main-komentar">
        {% if jadwal.komentar_set.all %}
            {% for komentar in jadwal.komentar_set.all %}
                <div class="komentar-box" id="komentar-box-{{ komentar.pk }}">
                    <span>~{{ komentar.nama }}</span>
                    <div class="komentar-isi">
                        {{ komentar }}
                    </div>
                    <i>{{ komentar.tanggal }}</i>
                </div>
            {% endfor %}
        {% else %}
            <div class="komentar-box" id="komentar-kosong">
                Belum ada Komentar.
            </div>
        {% endif %}
    </div>
    <div class="mt-5" id="tambah_form">
        <form id="komentar-form">
            {% csrf_token %}
            {{ komen_form|crispy }}
            <input type="submit" value="Kirim" class="btn-komentar">
        </form>
    </div>
    
</div>

<script>
    var CSRF_TOKEN = '{{ csrf_token }}';
</script>

<template id="template-result">
    <div class="komentar-box" id="komentar-box-new">
        <span></span>
        <div class="komentar-isi"></div>
        <i></i>
    </div>
</template>
{% endblock %}