{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Feedback</title>
{% endblock head %}

{% block content %}
<div class="container">
    <div class="form">
        <h2>Feedback</h2>
        <p>
            <a href="{% url 'umpanbalik:list' %}">Lihat List</a>
        </p>
        <div>
            <form method="POST">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button type="submit">Kirim</button>
                <!-- <span></span>
                <span></span>
                <span></span>
                <input type="checkbox" id="statement" name="state1">
                <label for="state1">Kirim Sebagai Anonymous</label> -->
            </form>
        </div>
    </div>
</div>
{% endblock content %}