.form-box {
    background-color: white;
    border: 2px solid #13293D;
    padding: 40px;
    border-radius: 26px;
}

.judul {
    font-weight: bold;
    font-size: large;
}

.form-input {
    border: 1px solid black;
    background-color: white;
    width: 100%;
}

#submit-btn {
    background-color: #226581;
    color: white;
    border: 0;
    border-radius: 30px;
    font-weight: bold;
    padding: 5px 20px;
}