body {
    scroll-behavior: smooth;
}

.komentar {
    padding: 30px 10vw;
}

.komentar h2 {
    font-weight: bolder;
    color: #226581;
}

#search-box {
    height: 35px;
}

.komentar-box {
    margin: 15px 0px;
    padding: 10px;
    border: 2px solid #226581;
    border-radius: 5px;
    box-shadow: 3px 3px #226581;
    background-color: #DEEFF7;
    line-height: 1.9rem;
}

.komentar-box span {
    font-size: 14px;
}

.komentar-box i {
    font-size: 12px;
}

.komentar-box .komentar-isi {
    overflow-wrap: break-word;
}

button, .btn-komentar {
    background-color: #226581;
    color: white;
    padding: 10px 30px;
    border: 0;
}