{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Oh, no!</title>
<script src="{% static 'jadwal/js/script.js' %}"></script>
{% endblock head %}

{% block content %}
<section class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
        <img src="{% static 'img/dewa-500.png' %}" style="width: 60%; height: auto;">
        <br>
        <h1><b>Terjadi masalah di server</b></h1>
        <div>Silakan isi <a href="{% url 'umpanbalik:create' %}">feedback</a> Anda jika terjadi masalah</div>
    </div>
</section>
{% endblock content %}