{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>JadwalinAja</title>
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<script src="{% static 'main/js/main.js' %}"></script>
{% endblock head %}

{% block content %}
<div class="d-flex flex-column" style="height: 85vh;">
	<div class="welcome-text text-center my-auto">
		<h1 style="font-weight: bold;">Selamat datang di</h1>
		<h1 style="font-family: 'Bree Serif', sans-serif;">JadwalinAja</h1>
	</div>
	<div class="ml-4 mb-4 flex-row">
		<a href="{% url 'umpanbalik:create' %}" class="btn-general">Feedback</a>
		<span class="viewers-bar p-3 ml-3">
			<img id="view-icon" src="{% static 'img/eye-vector.png' %}">
			<span id="view-content">
				<!-- Button trigger modal -->
				<button type="button" class="ml-3 btn btn-primary" data-toggle="modal" data-target="#exampleModal">
					Visitors Log
				</button>
			</span>
		</span>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Visitors Log</h5>
			</div>
			<div class="modal-body">
				<p>Tahukah kamu? Website kita sudah dikunjungi oleh orang dari kota-kota ini lho!</p>
				<table class="mb-3">
					<thead>
						<tr>
							<th>No.</th>
							<th class="w-100 text-center">Kota</th>
						</tr>
					</thead>
					<tbody id="visitor-table"></tbody>
				</table>

				<form id="visitor-form" action="/add_visitor" method="POST">
					Tidak melihat kotamu di atas? Tambah sekarang!
					{% csrf_token %}
					{{ form.as_p }}
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
