{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/style-dashboard.css' %}">
<title>Jadwal Saya</title>
{% endblock head %}

{% block content %}
<div class="content p-5">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    <div class="jadwal mx-auto">
        <div class="header ml-3 mb-3"><h1>Jadwal Saya</h1></div>
        {% if ada_jadwal %}
            <div class="table">
                {% for schedule,owner,user_count in schedules %}
                <div class="card m-3">
                    <h5 class="card-header"><b>{{ schedule }}</b></h5>
                    <div class="card-body">
                        {% if owner == user %}
                            <p>Owner: Anda</p>
                        {% else %}
                            <p>Owner: {{ owner.nama_panjang }}</p>
                        {% endif %}
                        <p>Ada {{ user_count }} orang yang tergabung dalam rapat ini.</p>
                        <a href="{% url 'jadwal:jadwal' schedule.url %}" class="btn btn-primary">Buka Jadwal</a>
                        {% if owner == user %}
                            <form action="{% url 'dashboard:hapusJadwal' schedule.url %}" method="POST" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger"><b>Hapus</b></button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <h1>Jadwal Tidak Ada</h1>
        {% endif %}
        <a class="btn btn-info m-3" href="{% url 'jadwal:buat-jadwal' %}"><b>Buat Rapat Baru</b></a>
    </div>
</div>
{% endblock content %}