{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Log In</title>
<link rel="stylesheet" href="{% static 'userhandle/css/style.css' %}">
{% endblock head %}

{% block content %}
<div class="d-flex flex-column p-3" style="height: 85vh;">
    <div class="form-box m-auto">
        <div class="judul mb-2">Log in</div>
        <div class="content">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li style="color:red">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="{% url 'userhandle:login' %}" method="POST">
                {% csrf_token %}
                <p>{{ form.username }}</p>
                <p>{{ form.password }}</p>
                <div class="d-flex justify-content-between flex-row">
                    <div class="p-2">
                        <span>Belum punya akun? <a href="{% url 'userhandle:register' %}">Buat Akun</a></span>
                    </div>
                    <div class="p-2">
                        <input id="submit-btn" class="d-inline" type="submit" value="Log in">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
