{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Register</title>
<link rel="stylesheet" href="{% static 'userhandle/css/style.css' %}">
{% endblock head %}

{% block content %}
<div class="d-flex flex-column p-3" style="height: 85vh;">
    <div class="form-box m-auto">
        <div class="judul mb-2">Buat Akun</div>
        <div class="content">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" style="color:red" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="{% url 'userhandle:register' %}" method="POST">
                {% csrf_token %}
                <p>{{ form.username }}</p>
                <p>{{ form.password1 }}</p>
                <p>{{ form.password2 }}</p>
                <p>{{ form.nama_panjang }}</p>
                <div class="d-flex justify-content-between flex-row">
                    <div class="p-2">
                        <span>Sudah punya akun? <a href="{% url 'userhandle:login' %}">Log In</a></span>
                    </div>
                    <div class="p-2">
                        <input id="submit-btn" class="d-inline" type="submit" value="Register">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
