.welcome-text h1 {
    font-size: 8vw;
}

.btn-general {
    background-color: #226581;
    color: white;
    font-weight: bold;
    font-size: x-large;
    padding: 25px 40px;
    border: 0;
    transition: .2s;
}

.btn-general:hover {
    text-decoration: none;
    color: white;
    filter: brightness(85%)
}

.viewers-bar {
    background-color: #226581;
    color: white;
    border-radius: 50px;
    width: fit-content;

    transition-timing-function: ease;
}

.viewers-bar img {
    filter: brightness(0) invert(1);
    height: 30px;
}

table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 3px 10px;
}